.vip-dashboard-table {
	margin: 0;
	width: 100%;
}

.vip-dashboard-table .column-repo_type {
	width: 3%;
}

.vip-dashboard-table .column-status {
	width: 50%;
}

.vip-dashboard-repomonitor-table .vip-dashboard-repo-type {
	background: none repeat scroll 0 0 #ECECEC;
	border-radius: 3px;
	display: inline-block;
	font-size: 0.8em;
	padding: 0 2px 2px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
}

#dashboard-widgets #quickstart_dashboard_repomonitor .inside,
#dashboard-widgets #quickstart_dashboard_vipthemehelper .inside {
	margin: -1px;
	padding: 0px;
}

#quickstart_dashboard_repomonitor .tablenav,
#quickstart_dashboard_vipthemehelper .tablenav {
	margin: 10px 0 13px;
	padding: 0 13px;
}