.quickstart-dashboard-widgets-wrap #dashboard-widgets .hndle a.widget_update {
	text-decoration: none;
	display: inline-block;
	cursor:pointer;
}

.quickstart-dashboard-widgets-wrap #dashboard-widgets .hndle a.widget_update span.noticon {
	vertical-align: middle;
}

.quickstart-dashboard-widgets-wrap #dashboard-widgets .hndle span.widget_update_status {
	display: none;
}

.vip-dashboard-table {
	margin: 0;
	width: 100%;
}

.vip-dashboard-table .column-repo_type {
	width: 3%;
}

.vip-dashboard-table .column-status {
	width: 50%;
}

.vip-dashboard-table tr.inactive td:first-child {
	padding-left: 13px;
}

.vip-dashboard-table tr.active td:first-child {
	border-left: 4px solid #2EA2CC;
}

.vip-dashboard-table tr.active td {
	background-color: #F7FCFE;
}

.vip-dashboard-table tr.warn > :first-child {
	border-left: 4px solid #D54E21;
}

.vip-dashboard-table tr.warn td {
	background-color: #FEFAF7;
}

.vip-dashboard-repomonitor-table .vip-dashboard-repo-type {
	background: none repeat scroll 0 0 #ECECEC;
	border-radius: 3px;
	display: inline-block;
	font-size: 0.8em;
	padding: 0 2px 2px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
}

#dashboard-widgets #quickstart_dashboard_repomonitor .inside,
#dashboard-widgets #quickstart_dashboard_vipthemehelper .inside {
	margin: -1px;
	padding: 0px;
}

#quickstart_dashboard_repomonitor .tablenav,
#quickstart_dashboard_vipthemehelper .tablenav {
	margin: 10px 0 13px;
	padding: 0 13px;
}

.widget-update-box {
	display: none;
	width: 100%;
	height: 100%;
}

.repomonitor-update-status {
	display: none;
}

#dashboard-widgets #quickstart_dashboard_repomonitor .inside.doing-update,
#dashboard-widgets #quickstart_dashboard_vipthemehelper .inside.doing-update {
	padding: 0 12px 12px;
}